#visionMission .visionMission_container .main_image {
    background-image: url(/src/assets/vision&mission/vision&mission-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    width: 100%;
}

#visionMission .visionMission_container .info {
    padding: 60px 20px;
}

#visionMission .visionMission_container .info .text {
    margin-top: 15px;
}

#visionMission .visionMission_container .info .items {
    margin-top: 35px;
}

#visionMission .visionMission_container .info .items li {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

#visionMission .visionMission_container .info .items li .image_box {
    width: 200px;
}

#visionMission .visionMission_container .info .items li .anticon-check {
    border: 2px solid var(--green-color);
    border-radius: 50%;
    padding: 10px;
    color: var(--green-color);
    font-size: 16px;
}

#visionMission .visionMission_container .info .items li h3 {
    color: var(--yellow-color);
    margin-bottom: 5px;
}

#visionMission .visionMission_container .col_box .image_box img {
    width: 100%;
    height: 100%;
}

@media(max-width: 991px) {
    #visionMission .visionMission_container .main_image {
        display: none;
    }

    #visionMission .visionMission_container .info {
        padding: 40px 0;
    }
}